body {
  background: #1C2F35;
  color: #f2f2f2;
}

.header {
  color: #f2f2f2;
  text-align: center;
  background-image: url("images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -210px;
  position: relative;
  min-height: 340px;
}

.navMenu a {
  padding: 16px 20px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: #f2f2f2;
}

.navMenu a:hover {
  color: black;
}

.navMenu {
  background: transparent;
  margin-top: 10px;
}

h2 {
  padding-left: 20px;
}
