body {
  background: #CA843A;
  color: #3D2F1F;
}

.header {
  color: #DF4C24;
  letter-spacing: 20px;
  word-spacing: 60px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  background-image: url("images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -210px;
  position: relative;
  min-height: 340px;
}

.navMenu a {
  padding: 16px 30px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: #3D2F1F;
}

.navMenu a:hover {
  color: #3C4F1B;
}

.navMenu {
  background: transparent;
  margin-top: 10px;
}

h2 {
  padding-left: 20px;
}

.control {
  padding: 10px 0px;
}

form {
  padding: 0px 10px;
}
