body {
  background-image: url("images/vintagefilm.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #001f33;
  color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* Header */

.header {
  color: #f2f2f2;
  letter-spacing: 16px;
  word-spacing: 30px;
  text-align: center;
  text-shadow: 2px 2px #2b4048;
  font-family: 'Roboto', sans-serif;
  background-image: url("images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -210px;
  position: relative;
  text-transform: uppercase;
  min-width: 340px;
}

.header h2 {
  margin-top: 276px;
  margin-left: 200px;
}

/* Footer */
.footer {
  padding: 10px;
}

.footer a {
  padding: 16px 30px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #f2f2f2;
  text-transform: uppercase;
}

/* Navigation */
.navMenu a {
  padding: 16px 30px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #f2f2f2;
  text-transform: uppercase;
}

.navMenu a:hover {
  color: #451500;
}

.navMenu {
  background: transparent;
  margin-top: 10px;
}

/* Headings */
h1 {
  padding-left: 10px;
  color: #f2f2f2;
}

h2 {
  padding-left: 20px;
  color: #f2f2f2;
}

h3 {
  padding-left: 20px;
  color: #f2f2f2;
}

h4 {
  padding-left: 20px;
  color: #f2f2f2;
}

/* Content */
.usersDropdown {
  padding: 12px 16px;
}

.usersDropdown select {
  font-size: 16px;
}

.filmCard {
  color: #f2f2f2;
  display: inline;
  float: left;
  padding: 10px 20px;
  position: relative;
}

.filmCard img {
  border-radius: 8px;
  border: 2px solid #e8e8e8;
  height: 236px;
}

.nowPlaying {
  float: left;
}

.filmInfo {
  padding-left: 20px;
  color: #f2f2f2;
  column-count: 2;
  width: 62%;
}

.filmInfo img {
  border-radius: 10px;
  border: 2px solid #000000;
}

.moreInfo {
  padding-top: 16%;
}

.moreInfo h3 {
  letter-spacing: 3px;
  text-transform: uppercase;
}

.favorite_films {
  background-color: #1C2526;
  border: none;
  color: #f2f2f2;
  font-weight: bold;
  font-size: 14px;
}

.taglines {
  font-family: 'Roboto', sans-serif;
  padding: 6px 30px;
  letter-spacing: 4px;
  word-spacing: 8px;
  text-transform: uppercase;
}

.search-form {
  padding: 10px 20px;
}

.search-form input {
  height: 20px;
  font-size: 16px;
}

.divide {
  width: 10px;
  height: auto;
  display: inline-block;
}

.active-user-box {
  padding: 1px 20px;
}

.active-user-box a {
  color: #f2f2f2;
  text-decoration: none;
}

.change-user:hover {
  color: #6C1D1D;
}

.unavailable h3 {
  position: absolute;
  top: 25px;
  font-size: 14px;
  width: 100px;
  color: #000000
}

/* Links */

.link {
  text-decoration: none;
}

.see-more {
  border: none;
  color: #f2f2f2;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.login-link {
  text-decoration: none;
  color: #451500;
}

.search-link {
  font-size: 24px;
  margin-top: 14px;
  margin-right: 40px;
  font-weight: bold;
  color: #f2f2f2;
  text-decoration: none;
  letter-spacing: 2px;
  float: right;
}

.search-link:hover {
  color: #451500;
}

/* Forms & Buttons */
.signupForm {
  background-color: rgba(255, 255, 255, 0.5);
  width: 300px;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}

.signupForm h2 {
  color: #366678;
}

.signupForm label {
  color: #333;
  font-size: 18px;
}

.control input {
  font-size: 16px;
}

.control {
  padding: 10px 0px;
}

form {
  padding: 0px 10px;
}

button {
  margin-top: 10px;
  font-size: 18px;
  background: #f5f5f5;
  color: #000000;
  border-radius: 4px;
  border: 2px solid #f5f5f5;
}

button:hover {
  color: #333;
  font-weight: bold;
}
